node-red_flow_Z2M_influx.json
[{"id":"b74cb10a.094a68","type":"mqtt in","z":"27a233bc.69f1d4","name":"","topic":"zigbee2mqtt/#","qos":"2","datatype":"auto","broker":"6015aa1f.f4c1fc","x":120,"y":220,"wires":[["f29b68f7.488738"]]},{"id":"f29b68f7.488738","type":"function","z":"27a233bc.69f1d4","name":"Is sensor","func":"var topic_01 = msg.topic.split('/');\nvar mac = topic_01[1];\nvar newTopic = \"z2m/\" + mac;\n//node.warn(\"size of topic_01[2]=\" + topic_01.length);\n// topic_01[1] is mac address, like 0x11111111111;\n//node.warn(\"mac[0]=\" + mac[0]);\n//node.warn(\"mac[1]=\" + mac[1]);\n\n//check if this is sensor data (0x1111111)\n//also make sure topic isn't like zigbee2mqtt3/0xXXX/set\nif ((mac[0] == \"0\") && (mac[1] == \"x\") && (topic_01.length == 2))\n{\n    msg.payload = JSON.parse(msg.payload);\n    //node.warn(\"is battery = \" + msg.payload.battery);\n    //node.warn(\"is contact = \" + msg.payload.contact);\n    //make new messages\n\n    //number outputs\n    zig_battery = {};       //1\n    zig_voltage = {};       //2\n    zig_linkquality = {};   //3\n    zig_humidity = {};      //4\n    zig_temperature = {};   //5\n    zig_illuminance = {};   //6\n\n    \n    //true/false/on/off\n    zig_action = {};        //7\n    zig_contact = {};       //8\n    zig_occupancy = {};     //9\n    zig_state = {};         //10\n\n\n    //----------------------------------------------------------------------\n    if (msg.payload.hasOwnProperty(\"battery\"))\n    {\n        //node.warn(\"has battery = \" + msg.payload.battery);\n        zig_battery.payload = msg.payload.battery;\n        zig_battery.topic = \"/sensor/float/\" + newTopic + \"/battery\";\n    }\n    else\n    {\n        //node.warn(\"no battery\");\n        zig_battery = null;\n    }\n    \n    //----------------------------------------------------------------------\n    if (msg.payload.hasOwnProperty(\"voltage\"))\n    {\n        //node.warn(\"has voltage = \" + msg.payload.voltage);\n        zig_voltage.payload = msg.payload.voltage;\n        zig_voltage.topic = \"/sensor/float/\" + newTopic + \"/voltage\";\n    }\n    else\n    {\n        zig_voltage = null;\n    }\n    //----------------------------------------------------------------------\n    if (msg.payload.hasOwnProperty(\"linkquality\"))\n    {\n        //node.warn(\"has linkquality = \" + msg.payload.linkquality);\n        zig_linkquality.payload = msg.payload.linkquality;\n        zig_linkquality.topic = \"/sensor/float/\" + newTopic + \"/linkquality\";\n    }\n    else\n    {\n        //node.warn(\"no linkquality\");\n        zig_linkquality = null;\n    }\n    //----------------------------------------------------------------------\n    if (msg.payload.hasOwnProperty(\"humidity\"))\n    {\n        zig_humidity.payload = msg.payload.humidity;\n        zig_humidity.topic = \"/sensor/float/\" + newTopic + \"/humidity\";\n    }\n    else\n    {\n        zig_humidity = null;\n    }\n    //----------------------------------------------------------------------\n    if (msg.payload.hasOwnProperty(\"temperature\"))\n    {\n        zig_temperature.payload = msg.payload.temperature;\n        zig_temperature.topic = \"/sensor/float/\" + newTopic + \"/temperature\";\n    }\n    else\n    {\n        zig_temperature = null;\n    }\n    //----------------------------------------------------------------------\n    if (msg.payload.hasOwnProperty(\"illuminance\"))\n    {\n        zig_illuminance.payload = msg.payload.illuminance;\n        zig_illuminance.topic = \"/sensor/float/\" + newTopic + \"/illuminance\";\n    }\n    else\n    {\n        zig_illuminance = null;\n    }\n    //------------------------------------------------------------------------\n    if (msg.payload.hasOwnProperty(\"action\"))\n    {\n        zig_action.payload = msg.payload.action;\n        zig_action.topic = \"/sensor/string/\" + newTopic + \"/action\";\n    }\n    else\n    {\n        zig_action = null;\n    }\n    //----------------------------------------------------------------------\n    if (msg.payload.hasOwnProperty(\"contact\"))\n    {\n        zig_contact.payload = msg.payload.contact;\n        zig_contact.topic = \"/sensor/string/\" + newTopic + \"/contact\";\n    }\n    else\n    {\n        zig_contact = null;\n    }\n    //----------------------------------------------------------------------\n    if (msg.payload.hasOwnProperty(\"occupancy\"))\n    {\n        zig_occupancy.payload = msg.payload.occupancy;\n        zig_occupancy.topic = \"/sensor/string/\" + newTopic + \"/occupancy\";\n    }\n    else\n    {\n        zig_occupancy = null;\n    }\n    //----------------------------------------------------------------------\n    if (msg.payload.hasOwnProperty(\"state\"))\n    {\n        zig_state.payload = msg.payload.state;\n        zig_state.topic = \"/sensor/string/\" + newTopic + \"/state\";\n    }\n    else\n    {\n        zig_state = null;\n    }\n    \n    //--------\n    return [zig_battery, zig_voltage, zig_linkquality, zig_humidity, zig_temperature, zig_illuminance, zig_action, zig_contact, zig_occupancy, zig_state];\n}\nelse\n    return null;\n\n","outputs":10,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[["c672db63.c608c"],["c672db63.c608c"],["c672db63.c608c"],["c672db63.c608c"],["c672db63.c608c"],["c672db63.c608c"],["c672db63.c608c"],["c672db63.c608c"],["c672db63.c608c"],["c672db63.c608c"]]},{"id":"c672db63.c608c","type":"mqtt out","z":"27a233bc.69f1d4","name":"MQTT","topic":"","qos":"","retain":"","broker":"fd099d7a.bf82","x":670,"y":220,"wires":[]},{"id":"6015aa1f.f4c1fc","type":"mqtt-broker","z":"","name":"MQTT_main","broker":"192.168.1.50","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fd099d7a.bf82","type":"mqtt-broker","z":"","name":"MQTT_for_influx","broker":"192.168.1.51","port":"1883","clientid":"node-red-CT108","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]